* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #ffffff url(../imagens/fundo.png) repeat-x top left;
}

#container {
    width: 750px;
    margin: 0 auto;
    /*border: 4px solid black;*/
}

#topo {
    height: 150px;
    padding-top: 30px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    /*border: 1px solid red;*/
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat top;
    text-indent: -2000px;
}

/*/////////  FORMATAÇÕ DE MENU  /////////*/

ul {
    margin: 0;
    padding: o;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #ffffff;
    background: url(../imagens/divisor.png) repeat-y left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.ciencias #navegacao a#ciencias,
body.saude #navegacao a#saude,
body.economia #navegacao a#economia,
body.fotos #navegacao a#fotos {
    color: #ffffff;
    background: #de003e;
    cursor: text;
}
/*/////////  FIM FORMATAÇÕ DE MENU  /////////*/

#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

 #lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-colunas #primario {
    width: 100%;
    margin: 0 0 20px 0;

}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/*Caixa*/
.caixa {
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #ffffff;
    padding: 5px;
}

.caixa-conteudo {
    background: #ffffff;
    padding: 5px;
    margin-top: 5px;
}

/*Formatção mens laterais*/
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}
 
label {
    font-size: 1em;
    background-color: #ffffff;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #ffffff;
} 

input.submit {
    width: 80px;
    color: #ffffff;
    background-color: #b10333;
    border: 2px solid #870529;
}

/*Formatção de imagens*/
/*img {
    border:  2px solid #dfdfdf;
}*/

img.imagens-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* Formatação de cabeçalho*/
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #ffffff;
}

.entrevista h3 {
    background: #de0033;
}

/*Formataçao lista de noticias*/
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #cccccc;
    height: 62px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    background: none;
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: 0.7em;
}

#lista-noticias li:hover {
    background: #eeeeee;
    cursor: pointer;
}

/*Rodape*/
#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #ffffff;
}
/*Fim Rodape*/